from .base import *

DEBUG = False

ALLOWED_HOSTS = ("YOUR_ALLOWED_HOSTS", )

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": "YOUR_DB_NAME",
        "USER": "YOUR_DB_USER",
        "PASSWORD": "YOUR_DB_PASSWORD",
        "HOST": "YOUR_DB_HOST",
        "PORT": "YOUR_DB_PORT",
    }
}
