from .base import *

DEBUG = False

ALLOWED_HOSTS = ("YOUR", "ALLOWED", "HOSTS")

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": "YOUR DB NAME",
        "USER": "YOUR DB USER",
        "PASSWORD": "YOUR DB PASSWORD",
        "HOST": "YOUR DB HOST",
        "PORT": "YOUR DB PORT",
    }
}
