# On the right side of the equal sign is an example of the value for an environment variable.

DEBUG=False
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

ADMIN_EMAIL=admin@site.co.uk
ADMIN_NICKNAME=admin
ADMIN_PASSWORD=Admin123*
