# On the right side of the equal sign is an example
# of the value for an environment variable.

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=0000
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
