APP_SECRET=your-app-secret
APP_HOSTS="your.domain.name1 127.0.0.1 your.domain.name2"
POSTGRES_DB=your-postgres-db
POSTGRES_USER=your-postgres-user
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_PORT=your-postgres-port
POSTGRES_HOST=your-postgres-host